# ignore everything
*

# except:
# this repo config
!.gitignore
!README.md

# terminal config
!.zshrc
!.profile

!.config/
!.config/kitty
!.config/kitty/kitty.conf

!.config/vim
!.config/vim/vimrc

# rss
!.config/newsboat/
!.config/newsboat/config
!.config/newsboat/urls
!.config/newsboat/newsboat-browser.sh

# pdf
!.config/zathura
!.config/zathura/zathurarc

# fixes the problem with the window not snapping because the minimum size is
# bigger than half the display's resolution (1920x1080)
!.config/discord
!.config/discord/settings.json
!.config/godot
!.config/godot/editor_settings-4.tres

# Program wrappers
!.local
!.local/bin/
!.local/bin/steam
!.local/bin/steam-runtime

# Desktop entries
!.local/share
!.local/share/applications
!.local/share/applications/steam.desktop

#Scripts referenced inside i3 config
!Scripts
!Scripts/open-in-tabs
!Scripts/proton
!Scripts/reboot-to-windows.sh
!Scripts/toggle-redshift.sh
