# ignore everything
*

# except these files
!.gitignore
!README.md
!.Xresources
!.zshrc

!.config/
!.config/i3/**
#add i3 blocks when finished
!.config/dunst/**
!.config/picom/**
!.config/rofi/**
!.config/termite/**
!.config/polybar/**

#Scripts referenced inside i3 config
!Scripts
!Scripts/crop_screenshot
!Scripts/full_screenshot
!Scripts/get-current-volume
